<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink=".">
            🔊📚
        </a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse ml-d-flex justify-content-between">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/home'"
                       (click)="isMenuCollapsed = true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'/search'"
                       (click)="isMenuCollapsed = true">Search</a>
                </li>
            </ul>

            @if (userDisplayName$ | async; as userDisplayName) {
                <div id="profileStuff" class="ml-auto">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" ngbDropdown>
                            <a class="nav-link" tabindex="0" ngbDropdownToggle id="profileDropdown" role="button">
                                @if (userAvatarUrl$ | async; as userAvatarUrl) {
                                    <img [src]="userAvatarUrl" alt="profile" width="30"
                                         class="rounded-circle">
                                }

                                {{ userDisplayName }}
                            </a>
                            <div ngbDropdownMenu aria-labelledby="profileDropdown"
                                 class="dropdown-menu dropdown-menu-end">
                                <a ngbDropdownItem [routerLink]="'/'" (click)="onLogout()">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</nav>

<router-outlet/>

@if (showMediaControl$ | async) {
    <app-media-control [@fadeIn]></app-media-control>
}

