<div class="container text-center">
    <h1 class="display-3 text-primary">
        Search
    </h1>
    <p class="lead">Search for albums you want to listen to</p>

    <div class="input-group w-50 mx-auto">
        <input
            type="text"
            class="form-control"
            placeholder="Search for an album..."
            [(ngModel)]="query"
            (ngModelChange)="onQueryChange($event)"
            autocomplete="off"
        />
        <div class="input-group-append">
    <span class="input-group-text">
        <i class="bi bi-search"></i>
    </span>
        </div>
    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3 mt-3">
        @if (isLoading) {
            <app-album-card-skeleton @fadeAnimation></app-album-card-skeleton>
            <app-album-card-skeleton @fadeAnimation></app-album-card-skeleton>
            <!-- skeleton card 3 (visible md and up) -->
            <app-album-card-skeleton class="d-none d-md-block" @fadeAnimation></app-album-card-skeleton>
            <!-- skeleton card 4 (visible lg and up) -->
            <app-album-card-skeleton class="d-none d-lg-block" @fadeAnimation></app-album-card-skeleton>
        } @else {
            @for (album of albums; track album.id) {
                <app-album-card [album]="album" (albumClicked)="onAlbumClick(album.id)" @fadeAnimation>
                </app-album-card>
            }
        }
    </div>
</div>
